.Home {
    margin-left: auto;
    margin-right: auto;
    width: 25%; /* Adjust the width as per your preference */
    padding-bottom: 5%;
}


h5 {
    padding-top: 3.5%;
}


.edit-icon {
    padding-left: 2%;
    cursor: pointer;
}

.edit-icon:hover {
    font-size: 1.8rem;
    color: black;
}

.rate-container .fa-star {
    cursor: pointer;
}

.orange {
    color: orange;
}

  
.green {
    color: green
}

#customRange1 {
    max-width: 35%;
}