
.Home {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-bottom: 1%;
}

h4 {
    padding-top: 3.5%;
}

a:link {
    color: #323232
}
.Distance {
    padding-bottom: 4%;
    text-align: center;
    margin: auto;
    width: 75%;
}

.rate-container {
    text-align: center;
    margin: auto;
    width: 75%;
    cursor: pointer;
}
.dollar-container {
    text-align: center;
    margin: auto;
    width: 75%;
    cursor: pointer;
}

.orange {
    color: orange;
}

.pickedRest {
    text-align: center;
    margin-top: -2%;
}

.generateButton {
    text-align: center;
}
  
button {
    cursor: pointer;
    z-index: 999;
}


.green {
    color: green
}

#customRange1 {
    max-width: 35%;
}


img {
    border-color: #323232;
    border-style: groove;
    border-width: 5px;
}

@media (min-width: 650px) {
    img {
        height: auto;
        max-width: 20%;
    }
    .Home {
        min-height: 100vh;
    }

    .Rating {
        text-align: center;
        margin: auto;
        width: 75%;
        cursor: pointer;
    }
    
    .Price {
        text-align: center;
        margin: auto;
        width: 75%;
        cursor: pointer;
    }
}



@media (max-width: 650px) {
    img {
        height: auto;
        max-width: 50%;
    }

    .Home {
        min-height: 100vh;
    }
    .Rating {
        text-align: center;
        margin: auto;
        width: 100%;
        cursor: pointer;
        font-size: xx-large
    }
    
    .Price {
        text-align: center;
        margin: auto;
        width: 100%;
        cursor: pointer;
        font-size: xx-large;
    }
   
    .Distance {
        padding-bottom: 4%;
        text-align: center;
        margin: auto;
        width: 100%;
    }
    


}