.custom-navbar {
  padding-left: 20px;
  max-width: 98%; /* Adjust the max-width value as per your preference */
  margin: 0 auto; /* Centers the navbar horizontally */
}

.rounded {
  border-radius: 120px; 
}