
html, body {
  height: 100%;
  width: 100%;
}

.App {
  background-color: #DDD0C8;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color:  #323232;
}

.Navbar {
  padding-top: 0.25%;
}

.Body {
  padding-top: 2%;
}